@import "tailwindcss";

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}


body {
  font-family: 'Raleway', sans-serif;
}

::-webkit-scrollbar{
  display: none;
}